:root {
  --ds-action-primary-icon: #f5ecf9;
  --ds-action-primary-icon-alternative: #7e329a;
  --ds-action-primary-icon-disabled: #f5ecf9;
  --ds-action-primary-icon-disabled-alternative: #b873d2;
  --ds-action-primary-icon-focus: #f5ecf9;
  --ds-action-primary-icon-focus-alternative: #7e329a;
  --ds-action-primary-icon-hover: #f5ecf9;
  --ds-action-primary-icon-hover-alternative: #7e329a;
  --ds-action-primary-stroke-alternative: #7e329a;
  --ds-action-primary-stroke-disabled-alternative: #d8b2e6;
  --ds-action-primary-stroke-focus: #7e329a;
  --ds-action-primary-stroke-focus-alternative: #7e329a;
  --ds-action-primary-stroke-hover-alternative: #b873d2;
  --ds-action-primary-surface: #7e329a;
  --ds-action-primary-surface-alternative: #ffffff;
  --ds-action-primary-surface-disabled: #d8b2e6;
  --ds-action-primary-surface-disabled-alternative: #ffffff;
  --ds-action-primary-surface-focus: #b873d2;
  --ds-action-primary-surface-focus-alternative: #ffffff;
  --ds-action-primary-surface-hover: #b873d2;
  --ds-action-primary-surface-hover-alternative: #f5ecf9;
  --ds-action-primary-text: #f5ecf9;
  --ds-action-primary-text-alternative: #7e329a;
  --ds-action-primary-text-disabled: #f5ecf9;
  --ds-action-primary-text-disabled-alternative: #b873d2;
  --ds-action-primary-text-focus: #f5ecf9;
  --ds-action-primary-text-focus-alternative: #7e329a;
  --ds-action-primary-text-hover: #f5ecf9;
  --ds-action-primary-text-hover-alternative: #7e329a;
  --ds-action-secondary-icon: #fafaeb;
  --ds-action-secondary-icon-alternative: #a2a428;
  --ds-action-secondary-icon-disabled: #fafaeb;
  --ds-action-secondary-icon-disabled-alternative: #d1d44e;
  --ds-action-secondary-icon-focus: #fafaeb;
  --ds-action-secondary-icon-focus-alternative: #a2a428;
  --ds-action-secondary-icon-hover: #fafaeb;
  --ds-action-secondary-icon-hover-alternative: #a2a428;
  --ds-action-secondary-stroke-alternative: #a2a428;
  --ds-action-secondary-stroke-disabled-alternative: #eaebad;
  --ds-action-secondary-stroke-focus: #a2a428;
  --ds-action-secondary-stroke-focus-alternative: #a2a428;
  --ds-action-secondary-stroke-hover-alternative: #d1d44e;
  --ds-action-secondary-surface: #a2a428;
  --ds-action-secondary-surface-alternative: #ffffff;
  --ds-action-secondary-surface-disabled: #eaebad;
  --ds-action-secondary-surface-disabled-alternative: #ffffff;
  --ds-action-secondary-surface-focus: #d1d44e;
  --ds-action-secondary-surface-focus-alternative: #ffffff;
  --ds-action-secondary-surface-hover: #d1d44e;
  --ds-action-secondary-surface-hover-alternative: #fafaeb;
  --ds-action-secondary-text: #fafaeb;
  --ds-action-secondary-text-alternative: #a2a428;
  --ds-action-secondary-text-disabled: #fafaeb;
  --ds-action-secondary-text-disabled-alternative: #d1d44e;
  --ds-action-secondary-text-focus: #fafaeb;
  --ds-action-secondary-text-focus-alternative: #a2a428;
  --ds-action-secondary-text-hover: #fafaeb;
  --ds-action-secondary-text-hover-alternative: #a2a428;
  --ds-base-black: #000000;
  --ds-base-error: #eb1818;
  --ds-base-white: #ffffff;
  --ds-body-button: #000000;
  --ds-body-input-hint: #000000;
  --ds-body-input-label: #000000;
  --ds-body-input-text: #000000;
  --ds-body-small-button: #000000;
  --ds-dropdown-neutral-surface: #ffffff;
  --ds-dropdown-neutral-text: #000000;
  --ds-dropdown-primary-indicator: #7e329a;
  --ds-dropdown-primary-text-selected: #7e329a;
  --ds-dropdown-secondary-indicator: #a2a428;
  --ds-dropdown-secondary-text-selected: #a2a428;
  --ds-feedback-danger-hint: #eb1818;
  --ds-feedback-primary-hint: #b873d2;
  --ds-feedback-primary-hint-disabled: #d8b2e6;
  --ds-feedback-secondary-hint: #d1d44e;
  --ds-feedback-secondary-hint-disabled: #d1d44e;
  --ds-input-danger-icon: #eb1818;
  --ds-input-danger-stroke: #eb1818;
  --ds-input-primary-icon: #7e329a;
  --ds-input-primary-icon-disabled: #d8b2e6;
  --ds-input-primary-icon-error: #eb1818;
  --ds-input-primary-label: #7e329a;
  --ds-input-primary-label-disabled: #d8b2e6;
  --ds-input-primary-label-error: #7e329a;
  --ds-input-primary-placeholder: #d8b2e6;
  --ds-input-primary-stroke: #7e329a;
  --ds-input-primary-stroke-disabled: #d8b2e6;
  --ds-input-primary-stroke-error: #eb1818;
  --ds-input-primary-surface: #ffffff;
  --ds-input-primary-surface-disabled: #ffffff;
  --ds-input-primary-surface-error: #ffffff;
  --ds-input-primary-text: #000000;
  --ds-input-primary-text-disabled: #d8b2e6;
  --ds-input-primary-text-error: #000000;
  --ds-input-secondary-icon: #a2a428;
  --ds-input-secondary-icon-disabled: #d1d44e;
  --ds-input-secondary-label: #a2a428;
  --ds-input-secondary-label-disabled: #d1d44e;
  --ds-input-secondary-label-error: #a2a428;
  --ds-input-secondary-placeholder: #d1d44e;
  --ds-input-secondary-stroke: #a2a428;
  --ds-input-secondary-stroke-disabled: #d1d44e;
  --ds-input-secondary-surface: #ffffff;
  --ds-input-secondary-surface-disabled: #ffffff;
  --ds-input-secondary-surface-error: #ffffff;
  --ds-input-secondary-text: #000000;
  --ds-input-secondary-text-disabled: #d1d44e;
  --ds-input-secondary-text-error: #000000;
  --ds-primary-primary-100: #f5ecf9;
  --ds-primary-primary-300: #d8b2e6;
  --ds-primary-primary-500: #b873d2;
  --ds-primary-primary-700: #7e329a;
  --ds-primary-primary-900: #3f194d;
  --ds-secondary-secondary-100: #fafaeb;
  --ds-secondary-secondary-300: #eaebad;
  --ds-secondary-secondary-500: #d1d44e;
  --ds-secondary-secondary-700: #a2a428;
  --ds-secondary-secondary-900: #515214;
}