:root {
  --button-accent-icon: rgba(65, 71, 213, 1);
  --button-accent-icon-disabled: rgba(95, 98, 159, 1);
  --button-accent-icon-hover: rgba(65, 71, 213, 1);
  --button-accent-icon-pressed: rgba(45, 51, 183, 1);
  --button-accent-stroke: rgba(65, 71, 213, 1);
  --button-accent-stroke-disabled: rgba(95, 98, 159, 1);
  --button-accent-stroke-hover: rgba(45, 51, 183, 1);
  --button-accent-stroke-pressed: rgba(45, 51, 183, 1);
  --button-accent-surface: rgba(65, 71, 213, 1);
  --button-accent-surface-disabled: rgba(95, 98, 159, 1);
  --button-accent-surface-hover: rgba(45, 51, 183, 1);
  --button-accent-surface-pressed: rgba(45, 51, 183, 1);
  --button-accent-text: rgba(65, 71, 213, 1);
  --button-accent-text-disabled: rgba(95, 98, 159, 1);
  --button-accent-text-hover: rgba(65, 71, 213, 1);
  --button-accent-text-pressed: rgba(45, 51, 183, 1);
  --button-default-default: rgba(0, 0, 0, 1);
  --button-default-link: rgba(0, 0, 0, 1);
  --button-neutral-icon: rgba(255, 255, 255, 1);
  --button-neutral-icon-disabled: rgba(255, 255, 255, 1);
  --button-neutral-icon-hover: rgba(255, 255, 255, 1);
  --button-neutral-icon-pressed: rgba(255, 255, 255, 1);
  --button-neutral-surface: rgba(255, 255, 255, 1);
  --button-neutral-surface-disabled: rgba(255, 255, 255, 1);
  --button-neutral-surface-hover: rgba(255, 255, 255, 1);
  --button-neutral-surface-pressed: rgba(255, 255, 255, 1);
  --button-neutral-text: rgba(255, 255, 255, 1);
  --button-neutral-text-disabled: rgba(255, 255, 255, 1);
  --button-neutral-text-hover: rgba(255, 255, 255, 1);
  --button-neutral-text-pressed: rgba(255, 255, 255, 1);
  --button-primary-shadow: rgba(217, 217, 217, 1);
  --button-primary-shadow-disabled: rgba(217, 217, 217, 1);
  --button-primary-shadow-hover: rgba(217, 217, 217, 1);
  --button-secondary-shadow: rgba(217, 217, 217, 1);
  --button-secondary-shadow-disabled: rgba(217, 217, 217, 1);
  --button-secondary-shadow-hover: rgba(217, 217, 217, 1);
  --button-small-default: rgba(0, 0, 0, 1);
  --button-small-link: rgba(0, 0, 0, 1);
  --dropdown-stroke-selected: rgba(65, 71, 213, 1);
  --dropdown-surface: rgba(255, 255, 255, 1);
  --dropdown-text: rgba(36, 39, 94, 1);
  --dropdown-text-hover: rgba(36, 39, 94, 1);
  --feedback-accent-text: rgba(36, 39, 94, 1);
  --feedback-accent-text-disabled: rgba(110, 111, 134, 1);
  --feedback-error-stroke: rgba(213, 65, 144, 1);
  --feedback-error-symbol: rgba(213, 65, 144, 1);
  --feedback-error-text: rgba(213, 65, 144, 1);
  --feedback-info-symbol: rgba(65, 71, 213, 1);
  --feedback-info-text: rgba(65, 71, 213, 1);
  --feedback-neutral-symbol: rgba(255, 255, 255, 1);
  --feedback-success-symbol: rgba(86, 198, 157, 1);
  --feedback-success-text: rgba(107, 205, 169, 1);
  --feedback-warning-symbol: rgba(252, 171, 49, 1);
  --feedback-warning-text: rgba(252, 171, 49, 1);
  --field-12: rgba(0, 0, 0, 1);
  --field-14: rgba(0, 0, 0, 1);
  --field-16: rgba(0, 0, 0, 1);
  --field-bold: rgba(0, 0, 0, 1);
  --input-accent-placeholder: rgba(36, 39, 94, 1);
  --input-accent-placeholder-disabled: rgba(191, 191, 191, 1);
  --input-accent-stroke: rgba(128, 128, 128, 1);
  --input-accent-stroke-disabled: rgba(110, 111, 134, 1);
  --input-accent-stroke-focus: rgba(65, 71, 213, 1);
  --input-accent-stroke-hover: rgba(65, 71, 213, 1);
  --input-accent-stroke-selected: rgba(65, 71, 213, 1);
  --input-accent-surface-hover: rgba(211, 213, 247, 1);
  --input-accent-symbol: rgba(65, 71, 213, 1);
  --input-accent-symbol-disabled: rgba(110, 111, 134, 1);
  --input-accent-symbol-error: rgba(213, 65, 144, 1);
  --input-accent-symbol-focus: rgba(65, 71, 213, 1);
  --input-accent-symbol-hover: rgba(65, 71, 213, 1);
  --input-accent-text: rgba(36, 39, 94, 1);
  --input-accent-text-disabled: rgba(110, 111, 134, 1);
  --input-accent-text-error: rgba(36, 39, 94, 1);
  --input-accent-text-focus: rgba(36, 39, 94, 1);
  --input-accent-text-hover: rgba(36, 39, 94, 1);
  --input-accent-text-inverse: rgba(255, 255, 255, 1);
  --input-accent-text-selected: rgba(65, 71, 213, 1);
  --input-neutral-surface: rgba(255, 255, 255, 1);
  --input-neutral-surface-disabled: rgba(255, 255, 255, 1);
  --input-neutral-surface-error: rgba(255, 255, 255, 1);
  --input-neutral-surface-focus: rgba(255, 255, 255, 1);
  --input-neutral-surface-hover: rgba(255, 255, 255, 1);
  --input-neutral-surface-selected: rgba(230, 230, 230, 1);
  --input-shadow-focus: rgba(217, 217, 217, 1);
  --scrollbar-icon: rgba(191, 191, 191, 1);
  --scrollbar-surface: rgba(230, 230, 230, 1);
}