:root {
  --button-accent-icon: #4147d5;
  --button-accent-icon-disabled: #5f629f;
  --button-accent-icon-hover: #4147d5;
  --button-accent-icon-pressed: #2d33b7;
  --button-accent-stroke: #4147d5;
  --button-accent-stroke-disabled: #5f629f;
  --button-accent-stroke-hover: #2d33b7;
  --button-accent-stroke-pressed: #2d33b7;
  --button-accent-surface: #4147d5;
  --button-accent-surface-disabled: #5f629f;
  --button-accent-surface-hover: #2d33b7;
  --button-accent-surface-pressed: #2d33b7;
  --button-accent-text: #4147d5;
  --button-accent-text-disabled: #5f629f;
  --button-accent-text-hover: #4147d5;
  --button-accent-text-pressed: #2d33b7;
  --button-default-default: #000000;
  --button-default-link: #000000;
  --button-neutral-icon: #ffffff;
  --button-neutral-icon-disabled: #ffffff;
  --button-neutral-icon-hover: #ffffff;
  --button-neutral-icon-pressed: #ffffff;
  --button-neutral-surface: #ffffff;
  --button-neutral-surface-disabled: #ffffff;
  --button-neutral-surface-hover: #ffffff;
  --button-neutral-surface-pressed: #ffffff;
  --button-neutral-text: #ffffff;
  --button-neutral-text-disabled: #ffffff;
  --button-neutral-text-hover: #ffffff;
  --button-neutral-text-pressed: #ffffff;
  --button-primary-shadow: #d9d9d9;
  --button-primary-shadow-disabled: #d9d9d9;
  --button-primary-shadow-hover: #d9d9d9;
  --button-secondary-shadow: #d9d9d9;
  --button-secondary-shadow-disabled: #d9d9d9;
  --button-secondary-shadow-hover: #d9d9d9;
  --button-small-default: #000000;
  --button-small-link: #000000;
  --dropdown-stroke-selected: #4147d5;
  --dropdown-surface: #ffffff;
  --dropdown-text: #24275e;
  --dropdown-text-hover: #24275e;
  --feedback-accent-text: #24275e;
  --feedback-accent-text-disabled: #6e6f86;
  --feedback-error-stroke: #d54190;
  --feedback-error-symbol: #d54190;
  --feedback-error-text: #d54190;
  --feedback-info-symbol: #4147d5;
  --feedback-info-text: #4147d5;
  --feedback-neutral-symbol: #ffffff;
  --feedback-success-symbol: #56c69d;
  --feedback-success-text: #6bcda9;
  --feedback-warning-symbol: #fcab31;
  --feedback-warning-text: #fcab31;
  --field-12: #000000;
  --field-14: #000000;
  --field-16: #000000;
  --field-bold: #000000;
  --input-accent-placeholder: #24275e;
  --input-accent-placeholder-disabled: #bfbfbf;
  --input-accent-stroke: #808080;
  --input-accent-stroke-disabled: #6e6f86;
  --input-accent-stroke-focus: #4147d5;
  --input-accent-stroke-hover: #4147d5;
  --input-accent-stroke-selected: #4147d5;
  --input-accent-surface-hover: #d3d5f7;
  --input-accent-symbol: #4147d5;
  --input-accent-symbol-disabled: #6e6f86;
  --input-accent-symbol-error: #d54190;
  --input-accent-symbol-focus: #4147d5;
  --input-accent-symbol-hover: #4147d5;
  --input-accent-text: #24275e;
  --input-accent-text-disabled: #6e6f86;
  --input-accent-text-error: #24275e;
  --input-accent-text-focus: #24275e;
  --input-accent-text-hover: #24275e;
  --input-accent-text-inverse: #ffffff;
  --input-accent-text-selected: #4147d5;
  --input-neutral-surface: #ffffff;
  --input-neutral-surface-disabled: #ffffff;
  --input-neutral-surface-error: #ffffff;
  --input-neutral-surface-focus: #ffffff;
  --input-neutral-surface-hover: #ffffff;
  --input-neutral-surface-selected: #e6e6e6;
  --input-shadow-focus: #d9d9d9;
  --scrollbar-icon: #bfbfbf;
  --scrollbar-surface: #e6e6e6;
}